<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajedrez</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>***Checkerboard***</h2>
    {% for i in range(0,4): %}
    <section>
        <p class="color1"></p>
        <p class="color2"></p>
        <p class="color1"></p>
        <p class="color2"></p>
        <p class="color1"></p>
        <p class="color2"></p>
        <p class="color1"></p>
        <p class="color2"></p>
    </section>
    <section>
        <p class="color2"></p>
        <p class="color1"></p>
        <p class="color2"></p>
        <p class="color1"></p>
        <p class="color2"></p>
        <p class="color1"></p>
        <p class="color2"></p>
        <p class="color1"></p>
    </section>
    {%endfor%}
</body>
</html>